body {
  margin: 0;
  font-family: 'Segoe UI';
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: black;
}

.navbar ul {
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;
}

.btn {
  background: linear-gradient(45deg, purple, blue);
  border: none;
  padding: 10px 15px;
  color: white;
  border-radius: 10px;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.hero-left {
  max-width: 50%;
}

.hero h1 {
  font-size: 50px;
}

.primary {
  background: purple;
  border: none;
  padding: 12px;
  margin-right: 10px;
}

.secondary {
  border: 1px solid white;
  padding: 12px;
  background: transparent;
  color: white;
}

.hero-card {
  background: #1e293b;
  padding: 20px;
  border-radius: 15px;
  width: 250px;
}

/* DASHBOARD */
.dashboard {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 15px;
  flex: 1;
}

/* TIMELINE */
.timeline-section {
  padding: 20px;
}

.item {
  background: #1e293b;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}

/* FAB */
.fab {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: linear-gradient(45deg, purple, blue);
  border: none;
  padding: 20px;
  border-radius: 50%;
  font-size: 20px;
  color: white;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
}

.modal-content {
  background: #1e293b;
  padding: 20px;
  margin: 100px auto;
  width: 300px;
  border-radius: 15px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}
